{% extends "bootstrap/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
		<h1>Login</h1>
			<form action="{{url_for('login')}}", method="post" novalidate>
<!--				{{ form.hidden_tag() }}-->
				{{ form.csrf_token }}

				{{form.email.label}} {{form.email(size=30)}}
				{% for err in form.email.errors %}
				<span style="color:red">{{err}}</span>
				{% endfor %}

				{{form.password.label}} {{form.password(size=30)}}
				{% for err in form.password.errors %}
				<span style="color:red">{{err}}</span>
				{% endfor %}

				{{form.submit()}}
			</form>

{% endblock %}